.mainPage__container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0px;
    row-gap: 20px;
    /* flex-direction: column; */
    margin-left: 250px;
    margin-right:40px;
    padding-top:40px;
    padding-left:20px;
}
@media screen and (max-width: 480px) {
    .mainPage__container{
        margin-top:70px;
        display: flex;
        flex-direction: column;
        margin-left:10px;
        margin-right:10px;
    }    
}